body {
    background-color: #212121;
    color: white;
}

.title {
    text-decoration: underline;
    font-size: 42px;
}

.text-center {
    text-align: center;

}

.flex {
    display: flex;
}

.searchbox {
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

#username {
    border: 1px white solid;
    background-color: #212121;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 06px;
    font-size: 18px;
}

#searchbtn {
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    background-color: #212121;
    color: white;
}

.resultBox {
    display: none;
    margin-top: 60px;
    border: 1px white solid;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    padding: 20px;

}

.imagebox {
    justify-content: center;
}

.infotable {
    justify-content: center;
}

table td {
    border: 1px solid white;
    padding: 6px;
}